In [1]:
# Dependencies
# ----------------------------------
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

ModuleNotFoundError: No module named 'seaborn'

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [4]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
#store tables
Measurements = Base.classes.measurements
Stations = Base.classes.stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# schalchemy dependencies# schal 
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
# create base
Base = declarative_base()

In [7]:
#data types from scqalchemy#data t 
from sqlalchemy import Column, Integer, String, Float, Date

In [8]:
# create base classes
class Measurements(Base):
    __tablename__ = 'measurements'
    meas_id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)

class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [9]:
#create sqlite engine
engine = create_engine("sqlite:///hawaii.sqlite")

In [10]:
#add metadata to tables#add me 
Base.metadata.create_all(engine)

In [11]:
#append data from csv created df to correct classes(tables)
measurements_df.to_sql('measurements', engine, if_exists='append', index=False)

In [12]:
stations_df.to_sql('stations', engine, if_exists='append', index=False)

In [13]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [14]:
session.commit()